/*==========  Global  ==========*/
/*==========  Basics  ==========*/
html,
body {
  height: 100%;
}
body {
  /*background: -webkit-linear-gradient(#4e7c82, #51747d, #556c79, #596475, #5c5c70, #60546c, #644c68, #674463, #6b3c5f, #6f345b) fixed;
  background: -moz-linear-gradient(#4e7c82, #51747d, #556c79, #596475, #5c5c70, #60546c, #644c68, #674463, #6b3c5f, #6f345b) fixed;
  background: -ms-linear-gradient(#4e7c82, #51747d, #556c79, #596475, #5c5c70, #60546c, #644c68, #674463, #6b3c5f, #6f345b) fixed;
  background: -o-linear-gradient(#4e7c82, #51747d, #556c79, #596475, #5c5c70, #60546c, #644c68, #674463, #6b3c5f, #6f345b) fixed;
  background: linear-gradient(#4e7c82, #51747d, #556c79, #596475, #5c5c70, #60546c, #644c68, #674463, #6b3c5f, #6f345b) fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background-color: #6f345b;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: #ffffff;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}
a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
a:hover{
  color:#4e7c82;
}
h1,
h2,
h3,
h4, 
h5,
h6 {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
/*==========  Sections  ==========*/
.header {
  text-align: center;
  position: relative;
  z-index: 1;
/*  background-image: url(../images/cover.svg);*/
  background-color: #4e7c82;
}
.header .master-head img{
  width: 100%;
  height: auto;
}
.header .master-head {
  padding: 0;
}
.header .page-title {
  padding: 0 30px 0 30px;
  font-size: 60px;
  line-height: 1em;
  letter-spacing: 10px;
  color: #FFF;
}
.header .page-description {
  margin: 30px auto;
  max-width: 600px;
  font-size: 18px;
  line-height: 2em;
  color: #FFF;
}
.header .scroll-button {
  color: #FFF;
  font-size: 20px;
  padding: 1%;
  display: block;
  background: #6f345b;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 60%;
  left: 43%;
}
.header .scroll-button:hover {
  background: #fff;
  color: #6f345b;
}
.header .scroll-button:active {
  background: #fff;
  color: #6f345b;
}
.main-content {
  margin: 0px auto;
  position: relative;
}
.main-content .section-inner,
.main-content .post-wrapper {
  *zoom: 1;
}
.main-content .section-inner:before,
.main-content .post-wrapper:before,
.main-content .section-inner:after,
.main-content .post-wrapper:after {
  content: "";
  display: table;
}
.main-content .section-inner:after,
.main-content .post-wrapper:after {
  clear: both;
}
.footer {
  background: #6f345b;
  position: relative;
  z-index: 1;
}
.footer .good-bye {
  text-align: center;

}
.footer .good-bye p {
  display: block;
  margin: 0px auto 0 auto;
  clear: both;
    font-size: 18px;
  line-height: 36px;
}
.section .section-inner {
  margin: 0px auto;
  width: 1024px;
}
@media only screen {
  .section .section-inner {
    width: auto;
    max-width: 1024px;
  }
}
/*==========  Stem  ==========*/
.stem-wrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 50%;
}

.stem-wrapper .stem,
.stem-wrapper .stem-background {
  position: absolute;
  top: 0px;
  left: -30px;
  width: 60px;
}
.stem-wrapper .stem {
  background: #437c82;
  height: 100%;
}
.stem-wrapper .stem-background {
  background: #ffffff;
  height: 50%;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.stem-padding,
.single-stem-icon {
  width: 60px;
  height: 60px;
  margin: 0px auto;
  background: transparent url(../images/stem-mask.png) repeat-y top center;
}
.single-stem-icon.scroll-to-top {
  cursor: pointer;
  background-image: url(../images/back.png);
}
/*==========  Post wrapper ==========*/
.post-wrapper {
  *zoom: 1;
}
.post-wrapper:before,
.post-wrapper:after {
  content: "";
  display: table;
}
.post-wrapper:after {
  clear: both;
}
.post-wrapper .post {
  position: relative;
  width: 432px;
  padding: 0px 0px 60px 0px;
  clear: both;
  opacity: 1;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.post-wrapper .post.hidden .post-content {
  -webkit-transform: translateY(100px) rotateX(30deg);
  transform: translateY(100px) rotateX(30deg);
  opacity: 0;
}
.post-wrapper .post:hover .post-content,
.post-wrapper .post.active .post-content {
  opacity: 1;
}
.post-wrapper .post:hover .post-content .meta,
.post-wrapper .post.active .post-content .meta {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
.post-wrapper .post:nth-child(even) {
  float: right;
}
.post-wrapper .post:nth-child(odd) {
  float: left;
}
.post-wrapper .post:nth-child(even) .stem-overlay {
  left: -110px;
}
.post-wrapper .post:nth-child(odd) .stem-overlay {
  right: -110px;
}
.post-wrapper .post.talks-icon .stem-overlay .icon {
  background-image: url(../images/mic.png);
}
.post-wrapper .post.workshop-icon .stem-overlay .icon {
  background-image: url(../images/workshop.png);
}
.post-wrapper .post.performance1-icon .stem-overlay .icon {
  background-image: url(../images/performance1.png);
}
.post-wrapper .post.performance2-icon .stem-overlay .icon {
  background-image: url(../images/performance2.png);
}
.post-wrapper .post .stem-overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 60px;
}
.post-wrapper .post .stem-overlay .icon {
  background: transparent no-repeat center center;
  height: 60px;
  width: 60px;
  cursor: pointer;
}
.post-wrapper .post .stem-overlay .stem-mask {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: transparent url(../images/stem-mask.png) repeat-y top center;
}
.post-wrapper .post .post-content {
  opacity: .3;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transform: none;
  transform: none;
}
.post-wrapper .post .post-content .meta {
  color: rgba(255, 255, 255, 0.3);
  margin: 0px 0px 15px 0px;
  letter-spacing: 1px;
  opacity: 0;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.post-wrapper .post .post-content .post-title {
  font-size: 32px;
  line-height: 42px;
  margin: 0px 0px 15px 0px;
}
/*==========  Media queries  ==========*/
@media only screen and (max-width: 1080px) {
  .main-content,
  .main-content .section-inner {
    max-width: none;
  }
  .stem-wrapper {
    left: 80px;
  }
  .stem-padding,
  .single-stem-icon {
    margin: 0px;
    float: left;
    margin-left: 50px;
  }
  .post-wrapper .post,
  .post-wrapper .post:nth-child(even),
  .post-wrapper .post:nth-child(odd) {
    width: auto;
    margin-left: 110px;
    float: none;
  }
  .post-wrapper .post .stem-overlay,
  .post-wrapper .post:nth-child(even) .stem-overlay,
  .post-wrapper .post:nth-child(odd) .stem-overlay {
    left: -60px;
    right: auto;
  }
  .post-wrapper .post .post-content {
    padding: 0px 50px;
  }
}
@media only screen and (max-width: 700px) {
  .header .page-title {
    font-size: 40px;
  }
  .post-wrapper .post {
    margin-left: 90px !important;
  }
  .post-wrapper .post .post-content {
    padding: 0 25px;
  }
  .stem-wrapper {
    left: 60px;
  }
  .stem-padding,
  .single-stem-icon {
    margin-left: 30px;
  }
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
