/*==========  Global  ==========*/
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab';
/*==========  Basics  ==========*/
html,
body {
  height: 100%;
}
body {
  /*background: -webkit-linear-gradient(#4e7c82, #51747d, #556c79, #596475, #5c5c70, #60546c, #644c68, #674463, #6b3c5f, #0572AD) fixed;
  background: -moz-linear-gradient(#4e7c82, #51747d, #556c79, #596475, #5c5c70, #60546c, #644c68, #674463, #6b3c5f, #0572AD) fixed;
  background: -ms-linear-gradient(#4e7c82, #51747d, #556c79, #596475, #5c5c70, #60546c, #644c68, #674463, #6b3c5f, #0572AD) fixed;
  background: -o-linear-gradient(#4e7c82, #51747d, #556c79, #596475, #5c5c70, #60546c, #644c68, #674463, #6b3c5f, #0572AD) fixed;
  background: linear-gradient(#4e7c82, #51747d, #556c79, #596475, #5c5c70, #60546c, #644c68, #674463, #6b3c5f, #0572AD) fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background-color: #ECECEC;
  background: -moz-linear-gradient(left, #F1F1F1 0%, #ECECEC 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #F1F1F1 0%, #ECECEC 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #F1F1F1 0%, #ECECEC 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F1F1F1', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  /*font-family: sans-serif;*/
  font-size: 15px;
  line-height: 26px;
  color: #1C1C1E;
  /*font-family: Helvetica Neue,Helvetica,Arial,sans-serif;*/
  font-family: 'Roboto Slab', serif;
  overflow-x: hidden;
  overflow-y: scroll;
}
a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
a:hover{
  color:#4e7c82;
}
h1,
h2,
h3,
h4, 
h5,
h6 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
ul {padding: 0;}
/*==========  Sections  ==========*/
.header {
  text-align: center;
  position: relative;
  z-index: 1;
/*  background-image: url(../images/cover.svg);*/
  background-color: #ECECEC;
  background: -moz-linear-gradient(left, #F1F1F1 0%, #ECECEC 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #F1F1F1 0%, #ECECEC 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #F1F1F1 0%, #ECECEC 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F1F1F1', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.header .master-head img{
  width: 65vw;
  height: auto;
  -webkit-box-shadow: 3px 3px 5px 3px rgba(200, 200, 200, 0.95);
  -moz-box-shadow: 3px 3px 5px 3px rgba(200, 200, 200, 0.95);
  box-shadow: 3px 3px 5px 3px rgba(200, 200, 200, 0.95);
}
.header .master-head {
  padding: 0;
}
.header .page-title {
  padding: 0 30px 0 30px;
  font-size: 60px;
  line-height: 1em;
  letter-spacing: 10px;
  color: #FFF;
}
.header .page-description {
  margin: 30px auto;
  max-width: 600px;
  font-size: 18px;
  line-height: 2em;
  color: #FFF;
}


.header .scroll-button {
  color: #fff;
  font-size: 20px;
  padding: 1%;
  display: block;
  background: #C71F33;
  border: 0;
  -webkit-box-shadow: 3px 3px 5px 3px rgba(150,0,0,0.65);
  -moz-box-shadow: 3px 3px 5px 3px rgba(150,0,0,0.65);
  box-shadow: 3px 3px 5px 3px rgba(150,0,0,0.65);

  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 45%;
  left: 45%;
}

@media (max-width: 768px){
  .header .scroll-button{
    position: absolute;
  top: 102%;
  left: 41%;
  }
}
.header .scroll-button:hover {
  background: #fff;
  color: rgb(199, 31, 51);
  -webkit-box-shadow: 3px 3px 5px 3px rgba(199, 31, 51 ,0.65);
  -moz-box-shadow: 3px 3px 5px 3px rgba(199, 31, 51 ,0.65);
  box-shadow: 3px 3px 5px 3px rgba(199, 31, 51 ,0.65);
}
.header .scroll-button:active {
  background: #fff;
  color: rgb(5, 114, 173);
  -webkit-box-shadow: 3px 3px 5px 3px rgba(5, 114, 173 ,0.65);
  -moz-box-shadow: 3px 3px 5px 3px rgba(5, 114, 173 ,0.65);
  box-shadow: 3px 3px 5px 3px rgba(5, 114, 173 ,0.65);
}
.main-content {
  margin: 0px auto;
  position: relative;
}
.main-content .section-inner,
.main-content .post-wrapper {
  *zoom: 1;
}
.main-content .section-inner:before,
.main-content .post-wrapper:before,
.main-content .section-inner:after,
.main-content .post-wrapper:after {
  content: "";
  display: table;
}
.main-content .section-inner:after,
.main-content .post-wrapper:after {
  clear: both;
}
.footer {
  background-color: #ECECEC;
  background: -moz-linear-gradient(left, #F1F1F1 0%, #ECECEC 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #F1F1F1 0%, #ECECEC 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #F1F1F1 0%, #ECECEC 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F1F1F1', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
  position: relative;
  z-index: 1;
}
.footer .good-bye {
  text-align: center;

}
.footer .good-bye p {
  display: block;
  margin: 0px auto 0 auto;
  clear: both;
  font-size: 18px;
  line-height: 36px;
}

.footer .fa {
  color: #1C1C1E;
}

.footer .fa:hover {
  color: rgb(5, 114, 173);
}

.footer a {
  color: #1C1C1E;
}

.footer a:hover, .footer a:active {
  color: rgb(5, 114, 173);
}

/* .section .section-inner {
  margin: 0px auto;
  width: 1024px;
} */
@media only screen {
  .section .section-inner {
    width: auto;
    /* max-width: 1024px; */
  }
}
/*==========  Stem  ==========*/
.stem-wrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 50%;
}

.stem-wrapper .stem,
.stem-wrapper .stem-background {
  position: absolute;
  top: 0px;
  left: -30px;
  width: 60px;
}
.stem-wrapper .stem {
  /* background: #437c82; */
  height: 100%;
}
.stem-wrapper .stem-background {
  background: #ffffff;
  height: 50%;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.stem-padding,
.single-stem-icon {
  width: 60px;
  height: 60px;
  margin: 0px auto;
  background: transparent url(../images/stem-mask.png) repeat-y top center;
}
.single-stem-icon.scroll-to-top {
  cursor: pointer;
  padding: none;
  background-image: url(../images/back.png);
}
/*==========  Post wrapper ==========*/
.post-wrapper {
  *zoom: 1;
}
.post-wrapper:before,
.post-wrapper:after {
  content: "";
  display: table;
}
.post-wrapper:after {
  clear: both;
}
.post-wrapper .post {
  position: relative;
  width: 432px;
  padding: 0px 0px 60px 0px;
  clear: both;
  opacity: 1;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.post-wrapper .post.hidden .post-content {
  -webkit-transform: translateY(100px) rotateX(30deg);
  transform: translateY(100px) rotateX(30deg);
  opacity: 0;
}
.post-wrapper .post:hover .post-content,
.post-wrapper .post.active .post-content {
  opacity: 1;
}
.post-wrapper .post:hover .post-content .meta,
.post-wrapper .post.active .post-content .meta {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
.post-wrapper .post:nth-child(even) {
  float: right;
}
.post-wrapper .post:nth-child(odd) {
  float: left;
}
.post-wrapper .post:nth-child(even) .stem-overlay {
  left: -110px;
}
.post-wrapper .post:nth-child(odd) .stem-overlay {
  right: -110px;
}
.post-wrapper .post.talks-icon .stem-overlay .icon {
  background-image: url(../images/mic.png);
}
.post-wrapper .post.workshop-icon .stem-overlay .icon {
  background-image: url(../images/workshop.png);
}
.post-wrapper .post.performance1-icon .stem-overlay .icon {
  background-image: url(../images/performance1.png);
}
.post-wrapper .post.performance2-icon .stem-overlay .icon {
  background-image: url(../images/performance2.png);
}
.post-wrapper .post .stem-overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 60px;
}
.post-wrapper .post .stem-overlay .icon {
  background: transparent no-repeat center center;
  height: 60px;
  width: 60px;
  cursor: pointer;
}
.post-wrapper .post .stem-overlay .stem-mask {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: transparent url(../images/stem-mask.png) repeat-y top center;
}
.post-wrapper .post .post-content {
  opacity: .3;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transform: none;
  transform: none;
}
.post-wrapper .post .post-content .meta {
  color: rgba(255, 255, 255, 0.3);
  margin: 0px 0px 15px 0px;
  letter-spacing: 1px;
  opacity: 0;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.post-wrapper .post .post-content .post-title {
  font-size: 32px;
  line-height: 42px;
  margin: 0px 0px 15px 0px;
}
/*==========  Media queries  ==========*/
@media only screen and (max-width: 1080px) {
  .main-content,
  .main-content .section-inner {
    max-width: none;
  }
  .stem-wrapper {
    left: 80px;
  }
  .stem-padding,
  .single-stem-icon {
    margin: 0px;
    float: left;
    margin-left: 50px;
  }
  .post-wrapper .post,
  .post-wrapper .post:nth-child(even),
  .post-wrapper .post:nth-child(odd) {
    width: auto;
    margin-left: 110px;
    float: none;
  }
  .post-wrapper .post .stem-overlay,
  .post-wrapper .post:nth-child(even) .stem-overlay,
  .post-wrapper .post:nth-child(odd) .stem-overlay {
    left: -60px;
    right: auto;
  }
  .post-wrapper .post .post-content {
    padding: 0px 50px;
  }
}
@media only screen and (max-width: 700px) {
  .header .page-title {
    font-size: 40px;
  }
  .post-wrapper .post {
    margin-left: 90px !important;
  }
  .post-wrapper .post .post-content {
    padding: 0 25px;
  }
  .stem-wrapper {
    left: 60px;
  }
  .stem-padding,
  .single-stem-icon {
    margin-left: 30px;
  }
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.partners{
  width: 100%;
  text-align: center;
  padding-top: 4%;
}
.mediapartners{
  width: 100%;
  text-align: center;
}
.mediapartners ul,li{
  list-style: none;
  display: inline-block;
}
.social{
  display: block;
}
.social i{
  padding: 5px;
}

@media (max-width: 768px){
  .section.main-content {
    margin-top: 40px;
  }
}

.company-container {
  width: 75vw;
  margin: 2vh auto;
  height: 35vh;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}

.company-container p {
  display: inline-block;
  width: 60%;
  text-align: center;
}

.company-container img {
  height: auto;
  width: 30%;
  max-height: 100%;
}

